
@color-primary: #C5E1A5;
@color-secondary: #8BC34A;
@color-link: #689F38;
@color-link-visited: #33691E;
@color-white: #fff;
@color-grey: #424242;

@space: 20px;
@space-half: 10px;

html {
    background-color: #fff;
    font-family: Roboto, sans-serif;

    a {
        text-decoration: none;
        color: @color-link;

        &:visited {
            color: @color-link-visited;
        }
    }

    body {
        margin: 0;
        padding: 0;
    }

    footer {
        margin-top: @space;
        padding: @space;
        color: @color-white;
        background-color: @color-secondary;
    }
}

.App {
    
    &-info {
        padding: @space @space-half;
    }
}
